/* index.less */
h1 {
  color: blue;
}
a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
}
b {
  -webkit-transform: translateX(45deg);
      -ms-transform: translateX(45deg);
          transform: translateX(45deg);
}
em {
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}
@-webkit-keyframes anim {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes anim {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.index {
  color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index .foo {
  position: absolute 0;
}
