/* custom properties */
:root {
  --fontSize: 1rem;
  --mainColor: rgba(18,52,86,0.47059);
  --highlightColor: hwb(190, 35%, 20%);
}

/* custom media queries */

/* some var() & calc() */
body {
  color: rgba(18,52,86,0.47059);
  color: var(--mainColor);
  font-size: 1rem;
  font-size: var(--fontSize);
  line-height: calc(1rem * 1.5);
  line-height: calc(var(--fontSize) * 1.5);
  padding: calc((1rem / 2) + 1px);
  padding: calc((var(--fontSize) / 2) + 1px);
}

/* custom media query usage */
@media (max-width: 50rem) {
  body {
    font-size: calc(1rem * 1.2);
    font-size: calc(var(--fontSize) * 1.2);
  }
}

/* custom selectors */

h1,h2,h3,h4,h5,h6 {
  margin-top: 0
}

/* colors stuff */
a {
  color: hwb(190, 35%, 20%);
  color: var(--highlightColor);
  -webkit-transition: color 1s;
  transition: color 1s; /* autoprefixed ! */
}
a:hover {
  color: gray(255, 50%)
}
a:active {
  color: #639
}
a:focus {
  background-color: rgba(255, 153, 0, 0.33);
  outline: 3px solid hsl(1turn, 60%, 50%);
}
a:link,a:visited {
  color: color(hwb(190, 35%, 20%) blackness(+20%));
  color: color(var(--highlightColor) blackness(+20%))
}
a:-webkit-any-link {
  color: color(hwb(190, 35%, 20%) blackness(+20%));
  color: color(var(--highlightColor) blackness(+20%))
}
a:-moz-any-link {
  color: color(hwb(190, 35%, 20%) blackness(+20%));
  color: color(var(--highlightColor) blackness(+20%))
}
a:any-link {
  color: color(hwb(190, 35%, 20%) blackness(+20%));
  color: color(var(--highlightColor) blackness(+20%))
}

/* font stuff */
h2 {
  font-feature-settings: "c2sc";
  font-variant-caps: small-caps;
}
table {
  font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

/* filters */
.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.sepia {
  -webkit-filter: sepia(.8);
          filter: sepia(.8);
}

/* overflow-wrap fallback */
body {
  word-wrap: break-word;
}

/* attribute case insensitive */
[frame=hsides],[frame=Hsides],[frame=hSides],[frame=HSides],[frame=hsIdes],[frame=HsIdes],[frame=hSIdes],[frame=HSIdes],[frame=hsiDes],[frame=HsiDes],[frame=hSiDes],[frame=HSiDes],[frame=hsIDes],[frame=HsIDes],[frame=hSIDes],[frame=HSIDes],[frame=hsidEs],[frame=HsidEs],[frame=hSidEs],[frame=HSidEs],[frame=hsIdEs],[frame=HsIdEs],[frame=hSIdEs],[frame=HSIdEs],[frame=hsiDEs],[frame=HsiDEs],[frame=hSiDEs],[frame=HSiDEs],[frame=hsIDEs],[frame=HsIDEs],[frame=hSIDEs],[frame=HSIDEs],[frame=hsideS],[frame=HsideS],[frame=hSideS],[frame=HSideS],[frame=hsIdeS],[frame=HsIdeS],[frame=hSIdeS],[frame=HSIdeS],[frame=hsiDeS],[frame=HsiDeS],[frame=hSiDeS],[frame=HSiDeS],[frame=hsIDeS],[frame=HsIDeS],[frame=hSIDeS],[frame=HSIDeS],[frame=hsidES],[frame=HsidES],[frame=hSidES],[frame=HSidES],[frame=hsIdES],[frame=HsIdES],[frame=hSIdES],[frame=HSIdES],[frame=hsiDES],[frame=HsiDES],[frame=hSiDES],[frame=HSiDES],[frame=hsIDES],[frame=HsIDES],[frame=hSIDES],[frame=HSIDES] {
  border-style: solid none;
}

/* system-ui font-family */
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

